<h1>Preferences</h1>
<h3>Coming soon...</h3>
<p><%= link_to raw('Back to Shopify Admin <i class="icon-chevron-right" style="opacity:.25"></i>'), "http://"+shop_session.url+"/admin", :class => 'btn btn-primary' %></p>
